NEXTJS_ENV=development
FIREBASE_SERVICE_ACCOUNT_KEY=
GROQ_API_KEY=
INTERNAL_API_SECRET=
MEASUREMENT_ID=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
NEXT_PUBLIC_R2_URL=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_WOO_URL=
STRIPE_SECRET_KEY=
WOO_CONSUMER_KEY=
WOO_CONSUMER_SECRET=
